.carousel-item img {
  object-fit: cover;
  height: 500px;
}

.carousel-caption p {
  font-size: 0.9rem;
}

/* Ajuste de los tamaños del texto en pantallas pequeñas */
@media (max-width: 768px) {
  .carousel-caption h5 {
      font-size: 1rem;
  }
  
  .carousel-caption p {
      font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption h5 {
      font-size: 0.9rem;
  }
  
  .carousel-caption p {
      font-size: 0.7rem;
  }
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
  padding: 1rem;
  border-radius: 0.5rem;
}